@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&family=Poppins:wght@400;500;700&family=Roboto:wght@400;500;700&family=Rubik:wght@400;500;700;900&family=Space+Mono:wght@400;700&display=swap");
body {
  margin: 0;
  font-family: Rubik, JetBrains Mono, Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.1rem;
}

.App {
  width: 100%;
  height: max-content;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.App > * {
  padding: 10px;
}

table {
  font-family: Rubik, JetBrains Mono, Poppins;
  border-collapse: collapse;
  width: 80%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.indicator{
  display: flex;
  flex-flow: row wrap;
}
.hrp,.orp{
  font-size: 1.8rem;
  margin-left: 20px;
}

input{
  font-family: Poppins;
  font-weight: 900;
  width: 100px;
  background-color: lightgrey; border: none; border-radius: 5px; color: #333; /* Dark grey */ padding: 15px 32px
}


@media only screen and (max-width: 500px) {
 .App{
  font-size: 0.85rem;
 }
 .title{
  font-size: 1.2rem;
  word-wrap: break-word;
  text-align: center;
 }
 label{
  font-size: 0.80rem;
 }
 .indicator{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.hrp{
  margin-top: -10px;
}
table{
  width: 90%;
}
td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 2px;
  font-size: 0.7rem;
}
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}